<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cotton.doubee.mapper.VideoCommentMapper">
  <resultMap id="BaseResultMap" type="com.cotton.doubee.model.VideoComment">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="videoId" jdbcType="BIGINT" property="videoId" />
    <result column="parentId" jdbcType="BIGINT" property="parentId" />
    <result column="commentMemberId" jdbcType="BIGINT" property="commentMemberId" />
    <result column="likeCount" jdbcType="BIGINT" property="likeCount" />
    <result column="dislikeCount" jdbcType="BIGINT" property="dislikeCount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updateAt" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="commentText" jdbcType="LONGVARCHAR" property="commentText" />
  </resultMap>


  <sql id="where1">
    <where>
      1=1
      <if test="map.videoId != null">and videoId = #{map.videoId}</if>
      <if test="map.commentMemberId != null">and commentMemberId = #{map.commentMemberId}</if>
      <if test="map.status != null">and status = #{map.status}</if>

      <if test="map.excludeCommentIdList != null">
         and id NOT IN
        <foreach collection="map.excludeCommentIdList" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>

    </where>
  </sql>

  <resultMap id="videoCommentVOMap" type="com.cotton.doubee.model.VO.VideoCommentVO">

  </resultMap>

  <select id="selectVO" resultMap="videoCommentVOMap">
    SELECT
    a.videoId,
    a.id,
    a.parentId,
    a.commentText,
    a.commentMemberId,
    a.likeCount,
    a.dislikeCount,
    a.createdAt,
    b.`name`as commentMemberName,
    b.headPortrait as commentMemberHeadPortrait
    FROM
    (SELECT * from video_comment

    <include refid="where1" />
    )
    AS a
    LEFT  JOIN member AS b ON a.commentMemberId = b.id AND b.`status` = 'normal'
    <if test="map.orderBy != null"> ORDER BY #{map.orderBy}</if>

  </select>
</mapper>